* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #fff;
  color: #1f2937;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  background-color: #1f2937;
}

.logo {
  font-weight: bold;
  color: #f9faf8;
  font-size: 24px;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 20px;
}

.hero-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 150px;
  background-color: #1f2937;

}



.main-text h1 {
  font-weight: 900;
  font-size: 48px;
  color: #F9FAF8;
  margin-bottom:6px;
  
  
}

.main-text {
  height: 202px;
}

.main-text p {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 16px;
  width: 500px;
}

.place-holder {
  background-color: grey;
  font-size: 18px;
  color: white;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 196px;


}

button {
  background-color: #3882F6;
  color: white;
  font-size: 16px;
  border: 0;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 20px;


}

.info-section {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

.title h2 {
  padding: 30px 0px;
  color: black;
  font-weight: 900;
  font-size: 36px;
}

.box-section {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  

}

.card {
  border: 5px solid #3882f6;
  border-radius: 15px;
  padding: 80px;
 
  margin-bottom: 5px;


}

.each-card-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-bottom: 70px;


}

.each-card-area p {
  text-align: center;
  word-wrap: break-word;
  width: 150px;
}


.testamonial {
  
  background-color: #E5E7EB;
  color: #1F2937;
  padding: 165px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}


.text-box {
  width: 950px;
  height: 170px
}

.before-author {
  margin-bottom: 20px;
  font-size:36px;
  font-style: italic;
}

.author {
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
}

.call-to-action {
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;


}

.blue-section {
  padding: 40px 150px;
  background-color: #3882F6;
  border-radius: 20px;
  width: 1200px;
  color: white;
  height: 140px;
  display: flex;
 


}

.text-container {

  width: 700px;
 
}

.top-of-text {
  font-size: 25px;
}
.blue-section button {
  padding: 3px 15px;
  background-color: #3882F6;
  border: 2px solid;
  color: white;
  font-size: 25px;
  height: 50px;  
  cursor: pointer;

  

}


